
.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 999;
	text-align: center;
	background: #000;
	border-radius: 3px;
	display: none;
}
.scroll-to-top a {
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding: 9px;
	color: #FFFFFF !important;
}
.scroll-to-top:hover a {
	color: #000000 !important;
	padding: 8px 8px 8px 8px;
}
.scroll-to-top:hover {
	background: transparent;
	border: 1px solid #000;
}
.scroll-to-top a:focus,
.scroll-to-top:focus {
	border: none;
	outline: 0;
}